@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:wght@400;500;600;700&display=swap');

.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 0;
    font-family: 'Concert One', cursive;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 17px;
  }
  
  .BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #aa6817;
    cursor: pointer;
    outline: none;
    transition: .2s ease-in-out;
  }
  
  .BuildControl button:disabled {
    background-color: #ac9980;
    border: 1px solid #7e7365;
    color: #ccc;
    cursor: default;
  }
  
  .BuildControl button:hover:disabled {
    background-color: #ac9980;
    color: #ccc;
    cursor: not-allowed;
  }
  
  .Label {
    padding: 9.5px;
    font-weight: bold;
    width: 100px;
    text-align: right;
    color: rgba(0, 0, 0, 0.721);
  }
  
  .BuildControl .Less {
    background-color: #d39952;
    color: white;
    border-radius: 5px;
  }
  
  .BuildControl .More {
    background-color: #8f5e1e;
    color: white;
    border-radius: 5px;
  }
  
  .BuildControl .Less:hover,
  .BuildControl .Less:active {
    background-color: #daa972;
    color: white;
  }
  
  .BuildControl .More:hover,
  .BuildControl .More:active {
    background-color: #99703f;
    color: white;
  }
  